{% extends 'base.html.twig' %}

{% block title %}Hello FormTestController!{% endblock %}

{% block body %}
{% for article in articles %}
<h2 class="blog-post-title">{{article.titre}}</h2>
{% endfor %}

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
{% endblock %}
